[Unit]
Description=Smart Store Service
After=multi-user.target

[Service]
Type=forking
ExecStart=/home/ubuntu/venv/bin/python /home/ubuntu/repo/1-daemon.py --pid /home/ubuntu/run/store.pid --log /home/ubuntu/log/store.log
Restart=always
PIDFile=/home/ubuntu/run/d.pid
WorkingDirectory=/home/ubuntu/
ExecStop=/bin/kill $MAINPID

[Install]
WantedBy=multi-user.target